@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #fff6f6;
  --foreground: #000000;
  --font-poppins: 'Poppins', ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.font-sans {
  font-family: var(--font-poppins) !important;
}

.font-bold {
  font-weight: 500 !important;
}

strong,
b {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
